<%= link_to "Edit Travel Maps", travel_maps_path %>

<div class = "row">
  <div class = "col-md-3">
    <div class = "panel panel-default">
      <div class = "panel panel-body">
        
        <%= fa_icon "user 5x" %>
        
        <p>
          <%= @profile.first_name %>
          <%= link_to 'Edit', edit_profile_path(@profile) %> |
        </p>

        <% if not current_user %>
          <p>
            <strong>Street:</strong>
            <%= @profile.street %>
          </p>
          
          <p>
            <strong>Suburb:</strong>
            <%= @profile.suburb %>
          </p>
          
          <p>
            <strong>Postcode:</strong>
            <%= @profile.postcode %>
          </p>
          
          <p>
            <strong>State:</strong>
            <%= @profile.state %>
          </p>
          
          <p>
            <strong>Country:</strong>
            <%= @profile.country %>
          </p>
          
          <p>
            <strong>Phone:</strong>
            <%= @profile.phone %>
          </p>
          
        <% end %>
      </div>
    </div>
  </div>
  
  
  <div class = "col-md-9">
    <div class = "panel panel-default">
      <div class = "panel panel-body">
        <h2>My adventures</h2>
        <div class = "row">
          
          <%= @profile.travel_maps.each do |travel_map| %>
    
            <div class = "col-md-12">
              <div class = "panel panel-default">
                <div class = "panel panel-body">
                  <p><%= travel_map.name %></p>
                  <p>test</p>
                </div>
              </div>
            </div>
          
          <% end %>
            
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<p id="notice"><%= notice %></p>