<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.hidden_field :description %>
    <!--<= f.hidden_field :travel_map, value: @travel_map >-->
    <%= hidden_field_tag "travel_map", @travel_map.id %>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
